<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>[[#{test.content}]]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link th:replace="layouts/common-style"/>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<h1>[[#{test.content}]]</h1>
<form th:attr="@{./testMngList}" target="list"> <!-- name =  -->
    <div>
        <table>
            <tr>
                <th width="100">keyword</th>
                <td><input type="text" th:field="${form.keyword}" size="48" maxlength="80"></td>
            </tr>
        </table>
    </div>
    <div class="btn">
        <input type="button" name="search" th:value="#{test.content}">
    </div>
    <div class="base">
        <div class="if">
            <table>
                <tr>
                    <td>
                        <iframe name="list" width="100%" th:src="|./testMngList?${form.parameterString}|"></iframe>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <th:block th:replace="/views/dashboard/include/PagingBlock::PagingBlock(tableWidth='97.7%')"></th:block>
    <th:block th:replace="/views/dashboard/include/ListHiddenItem"></th:block>
</form>
</body>
</html>
