<div id="employee" class="page-layout carded fullwidth inner-scroll" style="margin-top: 30px;">
    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT -->
            <div class="content">
                <form name="employeeForm" [formGroup]="employeeForm" novalidate class="employee w-100-p"
                    fxLayout="column" fxFlex>
                    <mat-tab-group>
                        <!-- Security -->
                        <ng-container>
                            <mat-tab label="Security">
                                <div class="tab-content p-24" fusePerfectScrollbar fxLayout="column">
                                    <!-- Password -->
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                        <mat-label>Password Old</mat-label>
                                        <input type="password" matInput placeholder="Password Old" name="password"
                                            formControlName="password" pattern="^([\d\w!@#]){8,20}$" required>
                                        <mat-error *ngIf="employeeForm.get('password').hasError('pattern')">
                                            Password must be between 8 and 20 characters
                                        </mat-error>
                                    </mat-form-field>

                                    <!-- Password New-->
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                        <mat-label>Password New</mat-label>
                                        <input type="password" matInput placeholder="Password New" name="passwordNew"
                                            formControlName="passwordNew" pattern="^([\d\w!@#]){8,20}$" required>
                                        <mat-error *ngIf="employeeForm.get('passwordNew').hasError('pattern')">
                                            Password New must be between 8 and 20 characters
                                        </mat-error>
                                        <mat-error
                                            *ngIf="!employeeForm.get('passwordNew').hasError('pattern') && employeeForm.get('passwordNew').hasError('passwordsNotMatching')">
                                            Passwords must match
                                        </mat-error>
                                    </mat-form-field>

                                    <!-- Password Confirm-->
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                        <mat-label>Password Confirm</mat-label>
                                        <input type="password" matInput placeholder="Password New"
                                            name="passwordConfirm" formControlName="passwordConfirm" required>
                                        <mat-error
                                            *ngIf="employeeForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                                            Passwords must match
                                        </mat-error>
                                    </mat-form-field>
                                    <div fxLayout="row" fxLayoutAlign="space-between">
                                        <button [disabled]="employeeForm.get('passwordNew').hasError('passwordsNotMatching') || employeeForm.get('passwordConfirm').hasError('passwordsNotMatching') || employeeForm.get('passwordNew').hasError('required') || employeeForm.get('passwordConfirm').hasError('required') ||
          employeeForm.get('password').hasError('pattern') || employeeForm.get('password').hasError('required')"
                                            mat-raised-button class="save-product-button btn-custom"
                                            (click)='changePassword()' style="background-color: #2196f3">
                                            <span>Change Password</span>
                                        </button>
                                    </div>
                                </div>

                            </mat-tab>
                        </ng-container>
                    </mat-tab-group>
                </form>
            </div>
        </div>
    </div>
</div>