<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="topbarFragment">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" th:href="@{/admin/home}">
            <img th:src="@{/images/logo.png}" alt="">
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none mr-auto" type="button"
                data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
    </header>
</th:block>
</html>
